<h1>そのユーザーが投稿した本の一覧、マイページ</h1>
<main class="pt-2">
  <div class="container">
    <div class="row">
      <div class="flex-column col-md-3">
        <div>
          <h2>User info</h2>
          <%= image_tag @user.get_profile_image(100,100) %>
          <table class="mb-5 border-top">
            <tr class="border-bottom">
              <th class="p-2">name</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th class="p-2">introduction</th>
              <td><%= @user.introduction %></td>
            </tr>
          </table>
          <%= link_to edit_user_path(@user.id), class: "btn btn-block border border-dark btn-outline-secondary" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>

        <div class="mt-3">
          <%= form_with model: @book do |f| %>
          <div>
            <h2>New book</h2>
            <p>Title</p>
            <%= f.text_field :title, class: "btn border border-1 rounded" %>
            <p>Opinion</p>
            <%= f.text_area :body, class: "btn border border-1 rounded" %>
            <div>
              <%= f.submit 'Create Book', class: "mt-3 btn btn-success text-light" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flex-column offset-md-1 col-md-8">
        <h2>Books</h2>
        <table class="table table-invers table-hover border-top">
          <thead>
          <tr class="border-bottom">
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
          </thead>
          <% @books.each do |book| %>
          <tr class="border-top">
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(80,80) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</main>
