<div class="container">
  <div class="row m-2">
    <div class="col-lg-5 mx-auto">
      <%= form_with model: @book do |f| %>
        <h2>New book</h2>
        <p class="block mt-2 md-0">Title</p>
        <%= f.text_field :title, class: "text-left btn form-control border border-1 rounded" %>
        <p class="block mt-3 mb-2">Opinion</p>
        <%= f.text_area :body, class: "text-left btn form-control border border-1 rounded" %>
        <div>
          <%= f.submit 'Update Book', class: "mt-3 btn btn-success text-light" %>
        </div>
        <p>
        <%= link_to "Show", book_path(@book.id) %>
        <strong> | </strong>
        <%= link_to "Back", books_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>
